In [1]:
# using pandas for project
# maybe use pyxl later

import pandas as pd

data = pd.read_csv("sis.csv")

    MatNo               Name  Age  Grade
0    1810       Aina Adeleke   16     80
1    1811        Sola Egbune   23     55
2    1812    Callistus Okeke   17     40
3    1813      Martin Alegbe   25     77
4    1814        Mary Akande   20     87
5    1815    Stella Olohimen   17     44
6    1816       Gabriel Pati   18     50
7    1817    Durojaiye Adamu   24     60
8    1818     Kolawole Alabi   18     67
9    1819      Tope Ogunleye   22     54
10   1820  Wilfred Nwachukwu   16     45
11   1821      Mildred James   15     70
12   1822     Glory Babalola   21     69
13   1823          Edith Ade   22     57
14   1824      Godwin Osahon   20     51
15   1825       Philip Odion   19     68

In [31]:
import pandas as pd

#data['Age']

class Students:
    
    data = pd.read_csv("sis.csv", index_col = "MatNo")
    pirates = dict(data)
    #thing= []
    #y = 0
    def set_group(self):
        for i in self.data['Age']:
            if i > 14 and i<18:
                #Pirates = pd.DataFrame(self.pirates)
                #Pirates.to_csv("The_Pirates")
                stuff = data.loc('1825')
                print(stuff)
                    
    
wow = Students()

wow.set_group()

ValueError: No axis named 1825 for object type DataFrame